flask_wtf
WTForms>=2.3.3
Flask>=1.1.2
MarkupSafe>=1.1.1
flask_sqlalchemy
requests
Flask
oauthlib
pyOpenSSL
Flask-Login
pymysql
authlib>=0.11
google-api-python-client
google-auth
virtualenv
google>=3.0.0
Auth
GoogleApi
requests
Flask
pyOpenSSL
Flask-Login

