mysql
flask_wtf
WTForms>=2.3.3
Flask>=1.1.2
MarkupSafe>=1.1.1
flask_sqlalchemy
requests>=2.21.0
oauthlib>=3.0.1
pyOpenSSL
Flask-Login
pymysql>=1.0.2
google-api-python-client>=2.2.0
google-auth
virtualenv>=20.4.3
google>=3.0.0
Auth>=0.5.3
GoogleApi>=0.1.0
tweepy>=3.10.0
beautifulsoup4>=4.9.3
soupsieve>=2.2.1
dnspython>=1.16.0
idna>=2.8
pip>=20.2.3
cryptography>=3.4.7
rsa>=4.7.2
pyasn1
falcon
mongoengine
Werkzeug
pymongo
pytz
Jinja2
itsdangerous
click
blinker
six
setuptools
cachetools
certifi
urllib3
oauth2client
packaging
Authlib
SQLAlchemy
chardet
cffi
eventlet
greenlet
gunicorn
pyparsing
httplib2
pycparser
distlib
filelock
appdirs
uritemplate
feedgen
lxml
python-dateutil
feedparser
Auth
GoogleApi
newscatcheR
