{% extends "layout.html" %} {% block body_content %}
<section class ="container">
<h1>About Digital Health</h1>
<h3>Our Mission</h3>
<p> The Digital Health platform is designed to be an oasis for you in the busy digital world you navigate. We want you
to be able to have constructive time online, away from work and social media. The aim is for you to be able to
track your progress, see what is working well for you, and regain balance with how you are spending your time and
    energy.</p>
    <h3>Meet the Team</h3>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="../static/Jaxsquare.jpeg" width="250px">
<h3>Jax</h3>
<p>Software Engineer @ Softwire | Geophysics MSc & BSc
<br>
 Lives in Wimbledon, England.</p>
    </div>
    <div class="col-sm">
      <img src="../static/Jessie.jpeg" width="250px">
<h3>Jessie</h3>
<p>Software Engineer @ CybSafe | AMBCS Psychology BSc
  <br>  Lives anywhere from Portugal to London in her campervan.<p>
    </div>
    <div class="col-sm">
      <img src="../static/Suhsquare.jpg" width="250px">
<h3>Suh</h3>
<p>Senior Analyst @ Aviva Investors | Chartered Accountant, Finance BA
  <br> Lives in Watford, England.</p>
    </div>
  </div>
</div>


<h3>Reflect</h3>
    <p>Use our journal feature to take the time to reflect on what is going on for you. Take time to be mindful and
        track
        your habits in order to have a better understanding of yourself and where you want to go. Reflecting helps you
        to develop your skills and review their effectiveness, rather than just carry on doing things
        as you have always done them. It is about questioning, in a positive way, what you do and why you do it and then
        deciding whether there is a better, or more efficient, way of doing it in the future. </p>
<h3 id="discover">Discover</h3>
    <p>We have constant access to all the negative things happening in the world. It can be overwhelming to be consuming
        a disproportionate level of news covering suffering. Refill your cup by focusing on some of the progress being
        made,
        the small wins and incremental positive change we should also be aware of. While Discovery helps you find out
        what changes and improvements need to be made, it also helps you streamline and prioritize those
        changes, determining which requests are most important and how to meet everyone's needs and wants. </p>
<h3 id="strengthen">Strengthen</h3>
    <p> Practice and habit are key to developing your inner strength. Use the digital health platform to cultivate
        and improve that growth and development. Resilience is important because it gives people the strength
        needed to process and overcome hardship. Those lacking resilience get easily overwhelmed, and
        may turn to unhealthy coping mechanisms. Resilient people tap into their strengths and support systems to
        overcome challenges and work through problems. </p>
<h3 id="relax">Relax</h3>
    <p>How much time are you taking to unwind? Take a look at some of our resources to see how you could treat yourself
        to
        more relaxation time. Practicing ‘relaxation’ is paramount to managing stress. When we relax,
        the flow of blood increases around our body giving us more energy. It helps us to
        have a calmer and clearer mind which aids positive thinking, concentration, memory and decision making.
        Relaxation slows our heart rate, reduces our blood pressure and relieves tension. It also aids digestion as we
        absorb essential nutrients more efficiently when relaxed, which helps to fight off disease and infection.
        Refresh throughout our day!
        Not only should we start our day feeling refreshed but we should continue to refresh at various points
        throughout our day! Schedule in 5 minutes a few times during your day to reduce stress levels and give your
        energy levels a boost.</p>
<h3 id="share">Share</h3>
<p>The next iteration of Digital Health aims to bring the community together. We want you to share what is working for
you and learn from others too. You will be able to read other member's journal entries, comment and share media
and suggest themes and tips to each other. </p>
</section>
{% endblock %}
