{% extends "layout.html" %}

{% block body_content %}


<div class="entry-form" >

  <form action="" method="POST" >
    {% if is_logged_in %}


  <div class="d-flex flex-column align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <p>Suggested Journal Theme:</p>
    {% endif %}

    {{ form.hidden_tag() }} {{ form.title.label }}
    {{ form.title }}

    <br />
    {{ form.entry.label }} {{ form.entry }}
    <br />
    {{ form.submit }} {{ message }}

    </div>

  </form>
</div>
{% endblock %}

<!--<div class="entry-form">-->
<!--  <form action="" method="POST" class="journal_forms">-->
<!--    {% if is_logged_in %}-->
<!--    <p>Suggested Journal Theme:</p>-->
<!--    {% endif %}-->

<!--    {{ form.hidden_tag() }} {{ form.title.label }} {{ form.title }}-->
<!--    <br />-->
<!--    {{ form.entry.label }} {{ form.entry }}-->
<!--    <br />-->
<!--    {{ form.submit }} {{ message }}-->
<!--  </form>-->
<!--</div>-->