{% extends "layout.html" %} {% block body_content %}
<p>A break from 'doomscrolling', take some time to acknowledge the good happening in the world. </p>
 <body>
<head>
	<title>Impactful Media</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
{% if is_logged_in %}
<p> A feed of some good news for you, {{first_name}}, followed by a <a href="#tweets">feed of positive tweets</a></p>
{% else %}
<p>Please log in to track your engagement</p>
{% endif %}
<body>
<div class="card-group container">
	<div class="row">
	{% for entry in feed.entries %}
  <div class="card col-sm">
    <img class="card-img-top  col-sm" src="{{entry.media_content[0]['url']}}"
		 alt="Card image cap" style="max-width: 100%">
    <div class="card-body col-sm">
      <h5 class="card-title col-sm">{{entry.title}}</h5>
      <p class="card-text col-sm">{{entry.summary[3:300]}}...</p>
      <a href="{{entry.link}}" onclick="trackClick()" class="btn btn-secondary card-text col-sm">Read more</a>
    </div>
  </div>
</div>
	  {% endfor %}
  </div>
</div>
<h3 id="tweets"> Positive Tweets</h3>
<div class="row">
	{% for tweet in tweets %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text">{{ tweet._json.text }}</p>
        <a href="{{ tweet._json.text[-23:] }}" class="btn btn-primary">View on Twitter</a>
      </div>
    </div>
  </div>
	{% endfor %}
</div>
<!--<div class="">-->
<!--<div class="card-group container">-->
<!--	<div class="row">-->
<!--<div class="card-deck">-->
<!--	  {% for tweet in tweets %}-->
<!--	  <div class="card mt-2">-->
<!--	    <div class="card-body">-->
<!--	      <div class="card-text">-->
<!--		  {{ tweet._json.text }}-->
<!--	      </div>-->
<!--            </div>-->
<!--	  </div>-->
<!--	  {% endfor %}-->
<!--	  <div>-->
<!--	  </div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</body>-->
{% endblock %}



