{% extends "layout.html" %} {% block body_content %}
<p>A break from 'doomscrolling', take some time to acknowledge the good happening in the world. </p>
 <body>
<head>
	<title>Impactful Media</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>
	  {% for tweet in tweets %}
	  <div class="card mt-2">
	    <div class="card-body">
	      <div class="card-text">
		  {{ tweet._json.text }}
	      </div>
            </div>
	  </div>
	  {% endfor %}
       </div>
   </div>
 </div>
</body>
{% endblock %}



