<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <script src="js/jquery.slim.min.js"></script>
  <script src="js/index.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

  <title>Digital Health Suh</title>
</head>

<body data-spy="scroll" data-target=".site-nav" data-offset="55">
<nav class="site-nav Rasa navbar navbar-expand-sm navbar-light fixed-top" style="background: #DBBEA1;">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">

      <img src="../static/digital_health_logo.png" style="width: 140px;" alt"Digital health logo"></a>

            <!--Toggle button hamburger menu button-->
      <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target=#myTogglerNav"
          aria-controls="myTogglerNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

  <section class="collapse navbar-collapse" id="myTogglerNav">
           <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#">Home</a>
              <a class="nav-item nav-link" href="#">Journal</a>
              <a class="nav-item nav-link" href="#">Mindfulness</a>
              <a class="nav-item nav-link" href="#page-impactfulMedia">Impactful Media</a>
              <a class="nav-item nav-link" href="#page-community">Community</a>
           </div><!-- navbar-nav -->
  </section><!-- collapse -->
      </div><!--container-fluid-->



<div class="container">




</div><!-- container -->


</body>
</html>