{% extends "layout.html" %}

{% block body_content %}
  <body>

    <div class="container">
     <section>
     <form class="form-horizontal" method="post" action="/addBlog">
<fieldset>

<!-- Form Name -->
<legend>Write your journal entry</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtTitle">Title</label>
  <div class="col-md-4">
  <input id="txtTitle" name="inputTitle" type="text" placeholder="The main theme of your entry" class="form-control input-md">
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtPost">Journal entry</label>
  <div class="col-md-4">
    <textarea class="form-control" id="txtPost" name="inputDescription" ></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
  </div>
</div>

</fieldset>
</form>
  </body>
{% endblock %}