<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Health</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <!-- insert style sheet here -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="../static/favicon-16x16.png"
    />
  </head>

  <body>
    <nav
      class="navbar navbar-expand-md navbar-light container-fluid align-items-center"
    >
      <a class="navbar-brand col-sm-2" href="homepage.html">
        <img
          src="../static/digital_health_logo.png"
          class="img-responsive rounded float=left"
          alt="Digital Health"
        />
      </a>
      <button
        class="navbar-toggler align-items-center"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home"
              >Home<span class="sr-only"></span
            ></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/journal"
              >Journal<span class="sr-only"></span
            ></a>
          </li>
          <li class="nav-item active">
            <a href="/login">Login</a>
          </li>
        </ul>
      </div>
      <form>
        <div class="form-row align-items-center col-sm-4">
          <div class="col-auto">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">&#x1F50D;</button>
          </div>
        </div>
      </form>
    </nav>

    <!-- below here needs moving to homepage once tested -->

    <div class="container">
      <div class="d-flex flex-row-reverse">
        <div class="p-6">
          <h3>Create meaningful change in your digital life</h3>
        </div>
      </div>
    </div>

    <!-- above here goes to homepage -->

    <h1>{{title}}</h1>
    {% block body_content %}{% endblock %}

    <footer class="container-fluid p-0 p-0">
      <div class="row">
        <div class="col-xl-12">
          <img
            src="../static/footer_meditation_cropped.jpg"
            class="img-fluid"
            alt="footer image"
          />
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
