<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Health</title>
</head>
<body>
    <!-- add nav bar -->
    <a href="http://www.google.com">Image of logo</a> <!-- this should be an image linking back to home page -->
    <h2>Mindfulness</h2>
    <h2>Impactful Media</h2>
    <h2>Community</h2>
    <h2>Your Profile</h2>
    <h3>Search</h3> <!-- make this a search bar! -->

    <!-- add Jinja template for page layout -->
    <h1>{{title}}</h1>
{% block body_content %}{% endblock %}
</body>
</html>