<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script defer src="../static/js/fontawesome-all.min.js"></script>
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="../static/favicon-16x16.png">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="../static/js/mindful.js"></script>
    <title>Digital Health</title>
</head>

<body class="d-flex flex-column h-100">
  <header>
<!--      navigation bar with logo and burger menu-->
    <nav class="site-nav Rasa navbar navbar-expand-sm navbar-light" style="background: #DBBEA1;">
        <!--Toggle button hamburger menu-->
      <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"> <!-- accessibility controls-->
        <span class="navbar-toggler-icon"></span>
      </button>

<!-- list of items that collapse into burger-->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <img src="../static/digital_health_logo.png" style="width: 140px;" alt="Digital health logo">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
           <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          <li class="nav-item">
            <div class ="dropdown">
                <a class="nav-item nav-link dropdown-toggle"
                   data-toggle="dropdown" id="journalDropdown"
                   aria-haspopup="true" aria-expanded="false" href="#">Journal</a>

                <div class="dropdown-menu" aria-labelledby="journalDropdown">
                    <a class="dropdown-item" href="/journal">Create</a>
                    <a class="dropdown-item" href={{user_journal_index}}>Read</a>
                </div>

           <li class="nav-item">
            <a class="nav-link" href="/mindfulness">Mindfulness</a>
          <li class="nav-item">
            <a class="nav-link" href="/impactfulmedia">Impactful Media</a>
          <li class="nav-item">
            <a class="nav-link disabled" href="/community">Community</a>
          {% if is_logged_in %}
          <li class="nav-item">
            <a class="nav-link" href="/profile">My Profile</a>
            <li class="nav-item">
              <a type="button" href="/logout" class="btn btn-dark" role="button">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a type="button" class="btn btn-dark" href="/login">Login with Google</a>
          </li>
          {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
        </form>
      </div>
    </nav>
  </header>

<!--  <h1>{{title}}</h1>-->
  {% block body_content %}{% endblock %}

<!--Sticky footer with social media links-->
  <footer class="footer Rasa mt-auto py-3 justify-content-center" style="background: #DBBEA1; position: fixed-bottom" >
  <div class="container">

    <span class>
        Find us on social media at:

        <a href="https://twitter.com/EarlyCareers" class="fa fa-twitter-square" aria-hidden="true" target="_blank"></a>
        <a href="https://facebook.com/EarlyCareersSky" class="fa fa-facebook-official" aria-hidden="true" target="_blank"></a>
        <a href="https://linkedin.com/company/sky" class="fa fa-linkedin-square" aria-hidden="true" target="_blank"></a>
        <a href="https://instagram.com/_lifeatsky/" class="fa fab fa-instagram" aria-hidden="true" target="_blank"></a>
         <div class="rasa">
            <a href="/aboutus" style="color:rgba(77, 80, 87, 1);"> About us</a>
         </div>
    </span>
  </div>
</footer>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/8792c76128.js"></script>
</html>