<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script defer src="js/lib/fontawesome-all.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="../static/favicon-16x16.png">
    <link rel="stylesheet" href="css/style.css">
    <title>Layout2 Digital Health</title>
</head>


<nav class="site-nav Rasa navbar navbar-expand-sm navbar-light" style="background: #DBBEA1;">
    <!--Toggle button hamburger menu-->
  <button class="navbar-toggler" type="button"
  data-toggle="collapse" data-target="#navbarTogglerDemo01"
  aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"> <!-- accessibility controls-->
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <img src="../static/digital_health_logo.png" style="width: 140px;" alt"Digital health logo"></a>
<!--      <a class="navbar-brand" href="#">Hidden brand</a>-->
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Journal</a>
       <li class="nav-item">
        <a class="nav-link" href="#">Mindfulness</a>
      <li class="nav-item">
        <a class="nav-link" href="#">Impactful Media</a>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Community</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
    </form>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
