{% extends "layout.html" %}
{% block body_content %}
{% if is_logged_in %}
    <p>Take the time to be mindful, {{first_name}}.</p>
</br>
<p>Below are some mindfulness activities for you to follow along to. Press one of the below buttons to
	 get start a visual breathing exercise or a guided body scan meditation.</p>
<!--GIF-->
<div class="row justify-content-center">
	<button type="button" class="btn btn-secondary" onclick="togglePicture()">Start Mindful Breathing</button>
	<div id="mindfulimg">

<img style="display:none;" id="breathing" src="../static/breathing.gif" width="480px" height="480px"/>
	</div>
</div>
		<div class="row justify-content-center">
			<div class="col-sm-4">
<!--	Audio-->

<button class="btn btn-secondary" onclick="toggleAudio()">Play Guided Body Scan</button>
<audio id="audio" src="https://palousemindfulness.com/disks/bodyscan20min.mp3"></audio>
				<audio src="https://palousemindfulness.com/disks/bodyscan20min.mp3" id="audio"></audio>
<i class="glyphicon glyphicon-play-circle b-play" id="play" onclick="play()"></i>
			</div>
		</div>
{% else %}
<p>Take the time to be Mindful. Please login to access the visual and audio mindfulness activities. </p>



{% endif %}

{% endblock %}