<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% extends "layout.html" %} {% block body_content %}
<div>


</div>
<h3> {{first_name}}'s Digital Health statistics this week</h3>
<div class="row">
  <div class="col-sm-4">
      <p>Words written in journal:</p>
  </div>
  <div class="col-sm-4">
      <p>Mindful moments spent:</p>
  </div>
  <div class="col-sm-4">
      <p>Impactful Media read</p>
  </div>
</div>


<h2>Community engagement <span class="label label-default">Coming Soon</span></h2>


{% endblock %}
